POSTGRES_DB=bering
POSTGRES_USER=bering
POSTGRES_PASSWORD=bering
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

APP_ENV=development
APP_DEBUG=True
APP_DOMAIN=history.dymnikov.tech
CORS_ORIGINS=http://localhost:3000,https://history.dymnikov.tech

NEXT_PUBLIC_API_URL=https://history.dymnikov.tech/api
TRAEFIK_ACME_EMAIL=mialdym@gmail.com
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio12345
